$main-color: #ea2427;
$white-color: #ffffff;
$black-color: #222831;
$grey-color: #999999;
$light-grey-color: #9b9b9b;
$link-color: #3e60c4;
$border-light-grey: solid 0.5px #d0d3d6;

$coniclex-item-margin: 20px;
$coniclex-item-width: 252px;
$coniclex-item-height: 280px;
$coniclex-cover-height: $coniclex-item-height - 120px;
$coniclex-active-height: 20px;
$coniclex-transition: 0.3s;
