* {
  outline: none;
}

html {
  font-size: 62.5%;
  overflow-y: auto !important;
}

body {
  letter-spacing: 0.02em;
  background-color: #fff;
  word-wrap: break-word;
  // font-family: 'db_heavent_rounded', 'Kanit', sans-serif;
  font-family: "Orbitron", sans-serif;
  font-size: 1.6rem;
  color: #222;
  overflow-x: hidden;
  margin: 0px;
}

*[disabled], .disabled {
  opacity: 0.7;
  cursor: not-allowed !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: inherit;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.4rem;
}

a {
  display: inline-block;
  color: #222;
  
  &:hover, &:focus, &:active {
    text-decoration: none;
    outline: 0;
  }

  &.link {
    &:hover, &:focus, &:active {
      color: $link-color;
    }
  }
}

ul {
  &.unstyle {
    margin: 0;
    padding: 0;
    list-style: none;
  
    > li {
      list-style: none;
    }
  }

  &.inline {
    @extend ul.unstyle;
    display: block;
  
    > li {
      position: relative;
      display: inline-block;
      padding: 5px;
    }
  }

  &.red-bullet {
    list-style: none;

    > li:before {
      content: "• ";
      font-size: 30px;
      color: red;
      margin-right: 4px;
    }
  }
}

ul.has-nav-arrow > li, .has-nav-arrow:not(ul) {
  position: relative;

  &:before {
    content: '›';
    position: absolute;
    top: 50%;
    right: 20px;
    color: #aaa;
    font-size: 3rem;
    @include transform(translate(0, -50%));
    -ms-transform: translate(0, -50%);
    z-index: 1;
  }
}

input.error, .error input {
  color: red !important;
  border-color: red !important;
}

.material-icons {
  position: relative;
  font-size: inherit;
  vertical-align: middle !important;
}

/* input number hide arrow */
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}